body {
  background-image: url(../img/FONDO.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

a {
  text-decoration: none;
}

@-webkit-keyframes textAlpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textAlpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-carousel {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 15px;
  }
}

@keyframes slide-carousel {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 15px;
  }
}

* {
  padding: auto;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 1em;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #6c24af;
  text-align: center;
}

h2 h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10em;
}

nav {
  margin: 0;
  padding: 0;
  height: 80px;
  background: #a35cff;
  background: -webkit-gradient(linear, left bottom, left top, from(#a35dff), color-stop(42%, #853fad), color-stop(74%, #582e73), to(#40245b));
  background: linear-gradient(0deg, #a35dff 0%, #853fad 42%, #582e73 74%, #40245b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav ul {
  margin: 0;
}

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

.searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 0;
}

.list-nav li {
  margin: 0;
  padding: 20px;
  color: #9e4fee;
}

#hover-list li a:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #9e4fee;
  text-decoration: none;
}

.vio {
  background-color: #9e4fee;
}

.vio:hover {
  background-color: #6219a7;
}

h1 {
  -webkit-animation-name: textAlpha;
          animation-name: textAlpha;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

h2 {
  -webkit-animation-name: textAlpha;
          animation-name: textAlpha;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

h3 {
  -webkit-animation-name: textAlpha;
          animation-name: textAlpha;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.transfo {
  padding: 0;
  margin: auto;
}

.transfo :hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  transform-box: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide-carousel {
  -webkit-animation-name: slide-carousel;
          animation-name: slide-carousel;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  position: relative;
}

.img-de-3 {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aparecer {
  -webkit-animation-name: textAlpha;
          animation-name: textAlpha;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.indexh3 {
  color: #6c24af;
  text-align: center;
}

.title-verde {
  color: #1f9c00;
  text-align: center;
}

.borde-verde {
  border-solid: 30px;
  border-radius: 10px;
  padding: 15px;
  background: #012400;
  background: -webkit-gradient(linear, left top, left bottom, from(#012400), color-stop(38%, #117909), to(#09e217));
  background: linear-gradient(180deg, #012400 0%, #117909 38%, #09e217 100%);
}

.contenedor-todo-vegano {
  margin: auto;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #012400;
  background: -webkit-gradient(linear, left top, left bottom, from(#012400), color-stop(38%, #117909), to(#09e217));
  background: linear-gradient(180deg, #012400 0%, #117909 38%, #09e217 100%);
  border-solid: 30px;
  border-radius: 10px;
  padding: 15px;
}

.titulo_contenedor-verde {
  text-decoration: none;
  color: #446e39;
}

.cenTer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-rosa {
  color: #b337a8;
  text-align: center;
}

.borde-rosa {
  border-solid: 30px;
  border-radius: 10px;
  padding: 15px;
  background: #420055;
  background: -webkit-gradient(linear, left top, left bottom, from(#420055), color-stop(49%, #b337a8), to(#e665ff));
  background: linear-gradient(180deg, #420055 0%, #b337a8 49%, #e665ff 100%);
}

.contenedor-licuados {
  margin: auto;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #420055;
  background: -webkit-gradient(linear, left top, left bottom, from(#420055), color-stop(49%, #b337a8), to(#e665ff));
  background: linear-gradient(180deg, #420055 0%, #b337a8 49%, #e665ff 100%);
  border-solid: 30px;
  border-radius: 10px;
  padding: 15px;
}

.cenTer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-naranja {
  color: #D16D0F;
  text-align: center;
}

.borde-naranja {
  border-solid: 30px;
  border-radius: 10px;
  padding: 15px;
  background: #d16d0f;
  background: -webkit-gradient(linear, left top, left bottom, from(#d16d0f), color-stop(49%, #e08f19), to(#ffb641));
  background: linear-gradient(180deg, #d16d0f 0%, #e08f19 49%, #ffb641 100%);
}

.contenedor-15min {
  margin: auto;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d16d0f;
  background: -webkit-gradient(linear, left top, left bottom, from(#d16d0f), color-stop(49%, #e08f19), to(#ffb641));
  background: linear-gradient(180deg, #d16d0f 0%, #e08f19 49%, #ffb641 100%);
  border-solid: 30px;
  border-radius: 10px;
  padding: 15px;
}

.title-marron {
  color: #966B45;
  text-align: center;
}

.borde-marron {
  border-solid: 30px;
  border-radius: 10px;
  padding: 15px;
  background: #805936;
  background: -webkit-gradient(linear, left top, left bottom, from(#69492c), color-stop(33%, #7a5738), to(#d7b472));
  background: linear-gradient(180deg, #69492c 0%, #7a5738 33%, #d7b472 100%);
}

.contenedor-soja {
  margin: auto;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #805936;
  background: -webkit-gradient(linear, left top, left bottom, from(#69492c), color-stop(33%, #7a5738), to(#d7b472));
  background: linear-gradient(180deg, #69492c 0%, #7a5738 33%, #d7b472 100%);
  border-solid: 30px;
  border-radius: 10px;
  padding: 15px;
}

.footer {
  height: 80px;
  background: #a35dff;
  background: -webkit-gradient(linear, left top, left bottom, from(#a35dff), color-stop(42%, #853fad), color-stop(72%, #582e73), to(#40245b));
  background: linear-gradient(180deg, #a35dff 0%, #853fad 42%, #582e73 72%, #40245b 100%);
}
/*# sourceMappingURL=estilos.css.map */