h1 {
    animation-name: textAlpha;
    animation-duration:  3s;
    animation-delay: 0;
}
h2 {
    animation-name: textAlpha;
    animation-duration: 2s;
    animation-delay: 0;
}
h3 {
    animation-name: textAlpha;
    animation-duration: 2s;
    animation-delay: 0;
}

.transfo{
    @include trans-scale-img ();
}
.slide-carousel{
    animation-name: slide-carousel;
    animation-duration: .6s;
    animation-delay: .1s;
    position: relative;
}
.img-de-3{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $c-princpal-claro;
}
@mixin border-radius {
    border-solid: 30px;
    border-radius: 10px;
    padding: 15px;
}
.aparecer{
    animation-name: textAlpha;
    animation-duration: 2s;
    animation-delay: 0;
}

//* INDEX       -----------------------------------------------------------------------------------------------
.indexh3{
    color: rgb(108, 36, 175);
    text-align: center;
}


//* TODO VEGANO -----------------------------------------------------------------------------------------------
.title-verde{
    color: $c-verde;
    text-align: center;
}
.borde-verde{
    @include border-radius();
    background-color: $c-princpal-claro;
}
.contenedor-todo-vegano{
    @include contenedor-receta ();
    @include border-radius ();
    background-color: $c-princpal-claro;
}
.cenTer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

//* LICUADOS  -----------------------------------------------------------------------------------------------
.title-rosa{
    color: $c-rosa;
    text-align: center;    
}
.borde-rosa{
    @include border-radius();    
}
.contenedor-licuados{
    @include contenedor-receta ();    
    @include border-radius ();
}
.cenTer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

//* 15 MIN
.title-naranja{
    color: $c-naranja;
    text-align: center;
}
.borde-naranja{
    @include border-radius();
}
.contenedor-15min{
    @include contenedor-receta ();
    @include border-radius();
}

//* SOJA
.title-marron{
    color: $c-marron;
    text-align: center;
}
.borde-marron{
    @include border-radius();
}
.contenedor-soja{
    @include contenedor-receta ();
    @include border-radius();
}
