h1 {
    animation-name: textAlpha;
    animation-duration:  3s;
    animation-delay: 0;
}
h2 {
    animation-name: textAlpha;
    animation-duration: 2s;
    animation-delay: 0;
}
h3 {
    animation-name: textAlpha;
    animation-duration: 2s;
    animation-delay: 0;
}

.slide-carousel{
    animation-name: slide-carousel;
    animation-duration: .6s;
    animation-delay: .1s;
    position: relative;
}
.img-de-3{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6c24afbd;
}
@mixin border-radius {
    border-solid: 30px;
    border-radius: 10px;
    padding: 15px;
}
// ANIMACION
.aparecer{
    animation-name: textAlpha;
    animation-duration: 2s;
    animation-delay: 0;
}
// CONTENEDOR DE RECETA PARA TODAS LAS SECCIONES---
.contenedor-comun{
    @include contenedor-comun();
}
// FLECHA
.arrow{
    background-color: #6c24af62;
    border-radius:50px;
    position: fixed;
    top: 90%;
    right: 5px;
}

//* INDEX       -----------------------------------------------------------------------------------------------
.indexh3{
    color: rgb(108, 36, 175);
    text-align: center;
}
.cenTer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cards {
    margin-top: 15px;
    padding: 0;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.562);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: 10px;

}
    .cards:hover{
        transform: translateY(-15px);
        transition: 0.4s;
    }
.contenedor-texto{
    @include contenedor-texto ();
    @include border-radius ();
}

//* TODO VEGANO -----------------------------------------------------------------------------------------------
.title-verde{
    color: $c-verde;
    text-align: center;
    padding: 10px;
}
.borde-verde{
    @include border-radius ();
}

//* LICUADOS  -----------------------------------------------------------------------------------------------
.title-rosa{
    padding: 10px;
    color: $c-rosa;
    text-align: center;    
}
.borde-rosa{
    @include border-radius();    
}

//* 15 MIN    -----------------------------------------------------------------------------------------------
.title-naranja{
    padding: 10px;
    color: $c-naranja;
    text-align: center;
}
.borde-naranja{
    @include border-radius();
}

//* SOJA     -----------------------------------------------------------------------------------------------
.title-marron{
    padding: 10px;
    color: $c-marron;
    text-align: center;
}
.borde-marron{
    @include border-radius();
}

//* CONTACTANOS -------------------------------------------------------------------------------------------

.contenedor-formulario{
    @include contenedor-formulario ();
    margin-bottom: 20px;
}

