
* {
    padding: auto;
    margin: auto;
    font-family: 'Georama', sans-serif;
}

p{
    font-size: 1.2em;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #6c24af;
    text-align: center; 
}

h2 h3 h4 h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
}

.formato-parrafo{
    @include ds-flex-center ();
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
}

//* SIZES

$w-75: 75%;
$w-80: 80%;
$w-85: 85%;
$w-95: 95%;
$h-50: 25%vh;
$h-40: 40vh;
$h-80: 60%vh;

//* FONTS

$fs-13: 1.3em;
$fs-14: 1.4em;
$fs-15: 1.5em;
